.page {
  max-width: 800px;
  min-width: 300px;
  text-rendering: optimizeLegibility;
  margin: 0 auto;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
} 